<% provide(:title, 'Home') %>

<div class="center jumbotron">
  <h1>Welcome to Rescue Coders</h1>

  <h2>
    Inspiration, Motivation and Resources to Help You Succeed.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>