<% if signed_in? %>


	<section>
		<%= render 'shared/stats' %>
	</section>

	
<% else %>

<div class="center jumbotron">
  <h1>Welcome to Rescue Coders</h1>

  <h2>
    Inspiration, Motivation and Resources to Help You Succeed.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>