<% if @user.likes.present? || @user.dislikes.present? %>

<h2>Recommendations</h2>

	<% if @user.likes.present? %>	
	<div class="row">
			<h3>Likes</h3>
		<ul>
	<% @user.likes.each do |r| %>
	  <li><%= link_to r.name, r %></li>
	<% end %>
</ul>
	</div>
	<% else %>
	<% end %>	

	<% if @user.dislikes.present? %>	
	<div class="row">	
		<h3>Dislikes</h3>
		<ul>
	<% @user.dislikes.each do |r| %>
	  <li><%= link_to r.name, r %></li>
	<% end %>
</ul>
	</div>	
	<% else %>
	<% end %>

<% else %>
<%= @user.name %> has not rated any resources yet.
<% end %>
