<div class="row">
	<div class="col-md-6">
		<%= render (current_user.likes?(@resource) ? 'unlike' : 'like') %>
	</div>
	<div class="col-md-6">	
		<%= render (current_user.dislikes?(@resource) ? 'undislike' : 'dislike') %>
	</div>	
</div>